@import '../../styles/variables';

.pagination{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    button{
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: $secondary-color;
        }

        &:disabled{
            background-color: #494545;
            color: #fff;
            cursor: not-allowed;
        }
    }
}