.articles {


    height: 100%;
    width: 100%;
    .filters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        position: absolute;
        top: 0;
        left: 0;

        .categories{
            display: flex;
            flex-direction: row;
        }

        .order{
            display: flex;
            flex-direction: row;
        }
    }

    .list{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
       
        .article_card{
            margin-right: 1rem;
        }
    }
}