.articles {
    
    margin: 1rem;


}

.articles_container {


    height: 100%;

    padding: 2rem;

    .filters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;

        .categories{
            display: flex;
            flex-direction: row;
        }

        .order{
            display: flex;
            flex-direction: row;
        }
    }

    .articles{
        margin: 1rem;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
            
        
    }
}