@import '../../styles/variables.scss';

.menu_container{

    width: 100%;

    .menu_items{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $fourth-color;
        border-bottom: 1px solid ;
        border-radius: 0 0 10px 10px;
        


        @media screen and (max-width: 768px){
            display: none;
        }
    }

    .menu_hamburger{
        display: none;
        background-color: $fourth-color;
        padding: 1rem 1rem;
        position: relative;
        @media screen and (max-width: 768px){
            display: block;
            font-size: 2rem;
            cursor: pointer;
        }

        .menu_mobile{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 100;
            @media screen and (max-width: 768px){
                display: flex;
            }

        }
    }
}