@import '../../styles/variables.scss';

.menu_container {
    .menu_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding: 10px;
        background-color: $third-color;

        .logo {
            
            width: 100px;
            position: relative;

            img{
                object-fit: cover;
            }
            
        }

    

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;

            a {
                margin: 0 1rem;

                &:hover {
                    color: $fourth-color;
                }
            }



            @media (max-width: 768px) {
                display: none;
            }
        }

        .menu_hamburger {
            display: none;
            margin: 1rem;
            cursor: pointer;

            &.opened {
                z-index: 1001;
            }

            @media (max-width: 768px) {
                display: block;
            }
        }
    }
    

    .full_screen{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $third-color;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

        .close{
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            cursor: pointer;
        }

        .links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a{
                margin: 1rem;

                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }

}