@import '../../styles/variables.scss';

.menu_container {
    .menu_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: $color1;
        


        .logo {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
            a{
                color: white;
                

                span {
                    font-size: 1.5rem;
                    font-weight: 700;

                    color: $color4;
                }
            }
            
        }

    

        .links_and_toogle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;

            a {
                margin: 0 1rem;
                color: $color2;
                &:hover {
                    color: $color4;
                }
            }



            @media (max-width: 768px) {
                display: none;
            }
        }

        .menu_hamburger {
            display: none;
            margin: 1rem;
            cursor: pointer;

            &.opened {
                z-index: 1001;
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                button{
                    margin: 0 1rem;
                }
            }
        }
    }
    

    .full_screen{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color1, 0.8);
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

        .close{
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            cursor: pointer;
        }

        .links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a{
                margin: 1rem;
                color: white;

                &:hover{
                    color: $color4;
                }
            }
        }
    }

}