.article{

    padding: 1rem;

    .article_image{
        position: relative;
        height: 100% !important;
        width: 100% !important;

        img{
            object-fit: cover;
            width: 80vw !important;
            position: relative !important;
            height: 50vh !important;
        }
    }
}