@import '../../styles/variables.scss';

.service{

    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }    
    .image{

        position: relative;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba($color3, 0.5);
        img{
            object-fit: contain;
        }
    }

    .content{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .title{
            margin-top: 10px;
            color: $color3; 
            text-align: center;
        }


    }
}