@import '../../styles/variables.scss';

.service{

    display: flex;
    flex-direction: column;
    width: 325px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }    
    .image{

        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $color6;
        img{
            object-fit: contain;
        }
    }

    .content{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }
}