@import '../../styles/variables.scss';

.service{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;

    .image{

        position: relative;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba($color3, 0.5);
        img{
            object-fit: contain;
        }
    }

    .content{

        .title{
            margin-top: 10px;
            color: $color3;
        }

        .description{
            margin: 0 1rem;
        }

    }
}