@import '../../../styles/variables.scss';

.article_card{

    border : 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 325px;
    flex: initial;

  


    .article_card_image{
        position: relative;
        width: 100%;
        height: 150px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .article_card_content{

        padding: 20px;
        overflow: hidden;
        position: relative;
        .article_card_link{
           display: flex;
           flex-direction: row;
           justify-content: end;
           padding-top: 10px;
        }
    }
}