@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  position: relative;
  min-height: 100vh;

  a{

    text-decoration: none;
    color: $primary-color;

    &:hover{
      color: $secondary-color;
    }
  }




  header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
  }

  main {
    position: relative;
    margin-top: 4rem;
    padding: 0 1rem;
    min-height: 86vh;

    section{
      // center the content
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      &.services{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      hr{
        width: 100%;
        margin: 1rem 0;
      }

      .articles_or_projects__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    
  }



  footer {
    position: sticky;
    bottom: 0;
    margin-top: 2rem;
    background-color: $primary-color;
    color: #fff;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    a {
      color: $secondary-color ;
    }
  }
}

