$main-background-color: #ffae03;

$primary-color: #135d80;
$secondary-color: lightslategrey;
$third-color: #fe4e00;

$main-text-color: #080708;

:export {
    mainBackgroundColor: $main-background-color;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    thirdColor: $third-color;
    mainTextColor: $main-text-color;
}