@import '../../styles/variables.scss';

.title{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;

}